.App {
  text-align: left;
  margin-left: 10px;
}
.container {
  margin-top: 10px;
}
.navbar-dark {
  background-color: #161748;
}
.nav-item {
  margin-left: 15px;
  color: white
}
.active-link {
  color: #39a0ca;
}
.Ingr-card {
  background-color: aqua;
  border-bottom: 1px;
  border-right: 1px;
  margin-left: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
